extends layout

block content
  h1= title

  // Recorro cada álbum
  each album in albums
    .album-card
      h2
         a(href=`/albums/${album.id}/galeria`)= album.titulo
      // Si este álbum tiene imágenes
      if album.imagenes.length
        ul.galeria
          each img in album.imagenes
            li
              img(src=img.ruta, alt=img.caption, width='100')
              if img.caption
                p.caption= img.caption
      else
        p Aún no hay imágenes en este álbum.

  a.btn(href="/muro") Volver al muro
     


   
