extends layout

block content
  h1= title

  if compartidas.length
    ul.imagenes-compartidas
      each img in compartidas
        li.imagen-compartida
          img(src=`/${img.ruta}`, width="150")

          if img.descripcion
            p.descripcion= img.descripcion

          p.origen
            | Compartida por
            strong= ` ${img.from}`

          // Formulario para comentar
          form(method="POST", action=`/images/${img.id}/comentario`)
            label(for="texto") Escribe un comentario:
            textarea(name="texto", id="texto", rows="2", style="width: 100%" required)
            br
            button(type="submit") Comentar
  else
    p No tienes imágenes compartidas contigo.

