extends layout

block content
  h1 Mi Perfil

  if usuario.foto_perfil
    img(src=`/uploads/${usuario.foto_perfil}` alt="Mi foto" width="120")
  else
    img(src="/img/default-avatar.png" alt="Foto por defecto" width="120")

  p Nombre: #{usuario.nombre}
  p Email: #{usuario.email}
  p Intereses: #{usuario.intereses}
  p Antecedentes: #{usuario.antecedentes}
  p Portafolio Público: #{usuario.portafolioPublico ? 'Sí' : 'No'}

  a.btn(href="/perfil/editar") Editar perfil
  a.btn(href="/perfil/password") Cambiar contraseña
  a.btn(href="/muro") Volver al muro
